@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");

.title {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 60px;

  padding-top: 9vh;
}

.buttonContainer .buttonRowContainer {
  display: flex;
  flex-direction: column;
}

.typeButton {
  display: flex;
  justify-content: space-evenly;

  padding-top: 10px;
  border-top: 1px solid #e2e2e2;
}

.yearButton {
  width: 300px;
  display: flex;
  justify-content: space-between;

  padding-bottom: 10px;
}

.Activity_grid {
  display: grid;
  column-gap: 16px;
  row-gap: 40px;
}

.ActivityList {
  width: 100vw;
  height: auto;
  align-content: space-around;

  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 999px) {
  .Activity_grid {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 1000px) {
  .Activity_grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.activity_box {
  height: 45vh;
  border: 1px solid #e2e2e2;

  padding: 7px;
  font-family: "Inter", sans-serif;
  margin-left: 3vw;
  margin-right: 3vw;

  cursor: pointer;
}

.ActivityList .activity_info {
  display: flex;
  flex-direction: column;

  padding: 8px;
}

.activity_info .year_text {
  color: #ffffff;
  width: 45px;
  background-color: #515151;
  font-size: 15px;

  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.activity_info .activity_title {
  font-size: 22px;
  font-weight: bold;

  padding-top: 15px;
}

.activity_info .author {
  font-size: 15px;
  color: #a9a7a3;
}

.activity_info .activity_description {
  font-size: 15px;
  color: #a9a7a3;
}

.activity_info .sns_link {
  display: flex;
  padding-top: 6vh;
  justify-content: right;
}
