
.Member{
    width: 100vw;
    padding-top: 124px;
    padding-bottom: 20px;
    
    justify-content: flex-start;
}
.text{
    padding-right: 180px;
    padding-left: 180px;

    font-family: Inter;
    font-size: 64px;
    font-weight: 700;
    line-height: 77px;
    letter-spacing: 0em;
    text-align: center;
}

/* 기수 버튼 */
.buttonContainer{
    display: flex;
    justify-content: center;

    padding-top: 20px;
    padding-bottom: 40px;
}

.button{
    cursor: pointer;
    background-color: transparent;
    border: transparent;

    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
    transition: color 0.2s ease-in-out;
}

.buttonSelect{
    cursor: pointer;
    background-color: transparent;
    border: transparent;

    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
    transition: color 0.2s ease-in-out;
    color: #3399FF;
}

.button:hover{
    color: #3399FF;
}


/* Member List */
.MemberList{
    width: 100vw;
    display: flex;
    justify-content: space-around;

    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-around;
}

.MemberList .memberBox{
    background-color: #FFFFFF;
    width: 450px;
    height: 150px;
    top: 519px;
    left: 70px;
    border-radius: 5px;

    margin: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

    /* .MemberList .imgCircle{
        width: 40px;
        height: 40px;
        top: 553px;
        left: 105px;

        border-radius: 100%;
        background: #F0EEEB;
    } */

    /* Member img */
    .MemberList .member_img{
        width: 120px;
        height: 120px;

        border-radius: 100%;
        background: #F0EEEB;
        color: #F0EEEB;
    }

    /* Member info */
    .MemberList .member_info{
        justify-content: flex-start;

        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
    }

    .MemberList .name{
        font-family: Inter;
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        
        padding-bottom: 30px;
        padding-right: 40px;
    }
    .MemberList .tf_logo{
        width: 20px;
        height: 20px;

        vertical-align: -3px;
        padding-left: 4px;
    }

    .MemberList .sns_logo{
        display: flex;
    }

    .MemberList .sns_logo_button{
        cursor: pointer;

        width: 20px;
        height: 20px;

        vertical-align: -8px;
    }