@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");

body {
  font-family: "Inter", sans-serif;
  background-color: #f7f5f1;
  justify-content: center;
  display: flex;
  min-height: 100vh;
}

@media (min-width: 650px) {
  /*웹 브라우저의 화면이 650px 이상일 때만 아래의 규칙이 적용됨, 반응형 웹을 만들 수 있도록 도와줌*/
  .App {
    width: 100vw;
  }
}

@media (max-width: 650px) {
  /*웹 브라우저의 화면이 650px 이하일때*/
  .App {
    width: 100vw;
  }
}

/* MyHeader */

.header {
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: space-between;

  display: flex;
  align-items: center;
  border-bottom: 3px solid #a9a7a3;
}

header .logo {
  padding-right: 10px;
  padding-left: 5vw;

  width: 177px;
  height: 38.58px;
  align-items: start;

  cursor: pointer;
}

header .nav {
  display: flex;
  text-align: right;
  padding-right: 3vw;
}

header text {
  padding-top: 20px;
  padding-right: 3vw;
  height: 19px;

  color: #a9a7a3;
  font-size: 16px;
  font-weight: 400;

  cursor: pointer;
}

/* Hide the links inside the hamburger menu */
header #myLinks {
  display: none;
  border-bottom: 1px solid #a9a7a3;
}

header #myLinks text {
  display: none;
}

header #myLinks text:hover {
  background-color: #e2e2e2;
  color: black;
}

header .nav_hamburger {
  display: none;
}

@media (max-width: 800px) {
  header .nav_hamburger {
    display: block;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }

  header text {
    display: none;
  }

  header #myLinks text {
    color: black;
    font-size: 16px;

    display: flex;
    align-items: center;

    padding-left: 5vw;
    padding-bottom: 1vw;
  }
}

/* Footer */
#wrapper {
  height: auto;
  min-height: 100vh;
  padding-bottom: 110px;
}

footer {
  height: 300px;
  position: relative;
  transform: translateY(-100%);

  height: 100px;
  width: 100%;
  border-top: 1px solid #a9a7a3;
  justify-content: space-between;

  align-items: center;
}

footer .footer_first_line {
  display: flex;
  justify-content: space-between;
}

footer .blue_logo {
  padding-right: 10px;
  padding-left: 5vw;
  padding-top: 1vw;

  width: 177px;
  height: 38.58px;
  align-items: start;

  cursor: pointer;
}

footer text {
  padding-top: 20px;
  padding-right: 3vw;
  height: 19px;

  color: #a9a7a3;
  font-size: 16px;
  font-weight: 400;

  cursor: pointer;
}

footer .foot {
  display: flex;
  align-items: flex-end;
  padding-right: 3vw;
}

footer .sns_logo {
  display: flex;

  padding-top: 4vw;
  padding-left: 5vw;
  cursor: pointer;
}

.sns_logo_button {
  padding-right: 1.5vw;
  width: 40px;
  height: 40px;
}

@media (max-width: 800px) {
  footer text {
    display: none;
  }
}

/* Home */

.Home {
}

.home_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 150px;
  padding-bottom: 150px;

  margin-top: 10px;
  border-top: 1px solid #a9a7a3;
}

.home_logo_img {
  width: 85vw;
}

.home_description {
  background-color: #3399ff;
  height: 312px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home_ecops_logo {
  width: 4vw;
  padding-bottom: 25px;
}

.bold {
  font-weight: bold;
}

.home_description_text_kr {
  padding-bottom: 25px;
}

.home_ewha_logo {
  width: 27vw;
  padding-left: 10vw;
  padding-top: 8vw;
  position: absolute;
}

.home_description_2_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-top: 150px;
}

.home_description_2_text_alt {
  display: none;
}

.home_description_2_intro {
  position: relative;
  font-weight: bold;
  font-size: 3vw;
}

.home_description_padding {
  padding-top: 50px;
}

.home_description_partner {
  margin-top: 230px;
  background-color: #f0eeeb;
  height: 550px;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 120px;
}

.home_description_partner_intro {
  font-weight: bold;
  font-size: 3vw;

  padding-bottom: 50px;
}

.ecops_yellow_line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;

  background-color: #fcd40c;
  border: 1px solid #000000;
}

.blue_line {
  height: 3px;
  margin-top: 8px;
  background-color: #3399ff;
}

@media (max-width: 800px) {
  .yellow_line_3 {
    display: none;
  }
  .yellow_line_4 {
    display: none;
  }
  .home_ewha_logo {
    width: 35vw;
  }
  .home_description_2_text {
    display: none;
  }
  .home_description_2_text_alt {
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2.2vw;

    padding-top: 150px;
  }

  .home_ecops_logo {
    width: 10vw;
  }
}

@media (max-width: 650px) {
  .ecops_yellow_line {
    display: none;
  }
}

/* Recruiting */

.recruiting_logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.recruiting_logo_img {
  width: 100vw;
}
